In [106]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [107]:
df = pd.read_csv('./MICRODADOS.CSV', sep=';', encoding='latin1')
df

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_11000\701293173.py:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./MICRODADOS.CSV', sep=';', encoding='latin1')

,DataNotificacao,DataCadastro,DataDiagnostico,DataColeta_RT_PCR,DataColetaTesteRapido,DataColetaSorologia,DataColetaSorologiaIGG,DataEncerramento,DataObito,Classificacao,...,ViagemBrasil,ViagemInternacional,ProfissionalSaude,PossuiDeficiencia,MoradorDeRua,ResultadoRT_PCR,ResultadoTesteRapido,ResultadoSorologia,ResultadoSorologia_IGG,TipoTesteRapido
0,2023-03-22,2023-03-22,2023-03-19,NaN,NaN,NaN,NaN,NaN,NaN,Suspeito,...,Não,Não,Não,Não,Não,Não Informado,Não Informado,Não Informado,Não Informado,Não Informado
1,2023-03-22,2023-03-22,2023-03-20,NaN,2023-03-22,NaN,NaN,NaN,NaN,Confirmados,...,Não,Não,Não,Não,Não,Não Informado,Positivo,Não Informado,Não Informado,Teste rápido Antígeno
2,2023-03-22,2023-03-22,2023-03-17,NaN,2023-03-22,NaN,NaN,NaN,NaN,Suspeito,...,Não,Não,Não,Não,Não,Não Informado,Negativo,Não Informado,Não Informado,Teste rápido Antígeno
3,2023-03-22,2023-03-22,2023-03-19,NaN,2023-03-22,NaN,NaN,NaN,NaN,Suspeito,...,Não,Não,Não,Não,Não,Não Informado,Negativo,Não Informado,Não Informado,Teste rápido Antígeno
4,2023-03-22,2023-03-22,2023-03-19,NaN,2023-03-22,NaN,NaN,2023-03-22,NaN,Descartados,...,Não,Não,Não,Não,Não,Não Informado,Negativo,Não Informado,Não Informado,Teste rápido Antígeno
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4747844,2020-02-27,2020-04-16,2020-02-09,2020-02-28,NaN,NaN,NaN,2020-04-16,NaN,Descartados,...,Ignorado,Sim,Ignorado,Não Informado,Não Informado,Negativo,Não Informado,Não Informado,Não Informado,Não Informado
4747845,2020-02-27,2020-04-15,2020-02-25,2020-02-26,NaN,NaN,NaN,2020-04-15,NaN,Descartados,...,Não Informado,Sim,Não,Não Informado,Não Informado,Negativo,Não Informado,Não Informado,Não Informado,Não Informado
4747846,2020-02-27,2020-04-16,2020-02-16,2020-02-27,NaN,NaN,NaN,2020-04-16,NaN,Descartados,...,Não,Não,Não,Não Informado,Não Informado,Negativo,Não Informado,Não Informado,Não Informado,Não Informado
4747847,2020-02-25,2020-04-16,2020-02-13,2020-02-26,NaN,NaN,NaN,2020-04-16,2020-04-16,Descartados,...,Não,Sim,Não,Não,Não,Negativo,Não Informado,Não Informado,Não Informado,Não Informado
4747848,2020-01-23,2020-10-25,2020-01-20,NaN,2020-01-29,NaN,NaN,2020-10-29,NaN,Descartados,...,Ignorado,Não,Não,Não,Não,Não Informado,Negativo,Não Informado,Não Informado,Não Informado

In [108]:
df.columns

Index(['DataNotificacao', 'DataCadastro', 'DataDiagnostico',
       'DataColeta_RT_PCR', 'DataColetaTesteRapido', 'DataColetaSorologia',
       'DataColetaSorologiaIGG', 'DataEncerramento', 'DataObito',
       'Classificacao', 'Evolucao', 'CriterioConfirmacao', 'StatusNotificacao',
       'Municipio', 'Bairro', 'FaixaEtaria', 'IdadeNaDataNotificacao', 'Sexo',
       'RacaCor', 'Escolaridade', 'Gestante', 'Febre',
       'DificuldadeRespiratoria', 'Tosse', 'Coriza', 'DorGarganta', 'Diarreia',
       'Cefaleia', 'ComorbidadePulmao', 'ComorbidadeCardio',
       'ComorbidadeRenal', 'ComorbidadeDiabetes', 'ComorbidadeTabagismo',
       'ComorbidadeObesidade', 'FicouInternado', 'ViagemBrasil',
       'ViagemInternacional', 'ProfissionalSaude', 'PossuiDeficiencia',
       'MoradorDeRua', 'ResultadoRT_PCR', 'ResultadoTesteRapido',
       'ResultadoSorologia', 'ResultadoSorologia_IGG', 'TipoTesteRapido'],
      dtype='object')

In [117]:
mortes = df.query('(Classificacao=="Confirmados") &  (Evolucao=="Óbito pelo COVID-19") ').drop_duplicates()
fato_mortes = mortes.groupby(['Municipio', 'Sexo', 'RacaCor']).agg({'Evolucao': np.count_nonzero}).reset_index()
fato_mortes.rename(columns={'Evolucao': 'Mortes'}, inplace=True)
fato_mortes

          Municipio Sexo   RacaCor  Mortes
0    AFONSO CLAUDIO    F   Amarela      10
1    AFONSO CLAUDIO    F    Branca      15
2    AFONSO CLAUDIO    F  Ignorado       2
3    AFONSO CLAUDIO    F     Parda       7
4    AFONSO CLAUDIO    F     Preta       3
..              ...  ...       ...     ...
883         VITORIA    M    Branca     384
884         VITORIA    M  Ignorado       1
885         VITORIA    M  Indigena       1
886         VITORIA    M     Parda     307
887         VITORIA    M     Preta     105

[888 rows x 4 columns]

In [118]:
dim_datas = mortes[['DataNotificacao', 'DataCadastro', 'DataDiagnostico', 'DataColeta_RT_PCR', 'DataEncerramento', 'DataObito']]
dim_datas.sample(5)

,DataNotificacao,DataCadastro,DataDiagnostico,DataColeta_RT_PCR,DataEncerramento,DataObito
3632486,2021-03-19,2021-03-19,2021-03-13,2021-03-19,2021-04-02,2021-04-02
3936858,2020-12-31,2021-01-25,2020-12-15,NaN,2021-01-19,2021-01-19
4475834,2020-08-07,2020-08-07,2020-05-22,NaN,2020-08-07,2020-06-07
3350973,2021-05-16,2021-05-16,2021-05-10,2021-05-16,2021-05-27,2021-05-24
3532214,2021-04-06,2021-04-06,2021-03-24,NaN,2021-04-15,2021-04-13

In [119]:
dim_escolaridade = mortes[['Sexo','RacaCor', 'Escolaridade', "Municipio"]]
dim_escolaridade

,Sexo,RacaCor,Escolaridade,Municipio
2096,F,Branca,Ignorado,CASTELO
13661,M,Parda,Ignorado,ECOPORANGA
13718,F,Parda,Ensino fundamental completo (antigo ginásio ou...,CONCEICAO DA BARRA
14445,F,Branca,Ensino fundamental completo (antigo ginásio ou...,VITORIA
20647,F,Branca,Ignorado,COLATINA
...,...,...,...,...
4746878,M,Branca,Ignorado,SAO MATEUS
4746885,M,Ignorado,Ignorado,VILA VELHA
4746900,F,Branca,Ignorado,GUACUI
4746967,M,Parda,Ignorado,SERRA
4747259,M,Parda,Ignorado,SERRA

In [120]:
dim_comorbidades = mortes[['ComorbidadePulmao', 'ComorbidadeCardio',
       'ComorbidadeRenal', 'ComorbidadeDiabetes', 'ComorbidadeTabagismo',
       'ComorbidadeObesidade']]
dim_comorbidades

,ComorbidadePulmao,ComorbidadeCardio,ComorbidadeRenal,ComorbidadeDiabetes,ComorbidadeTabagismo,ComorbidadeObesidade
2096,Não,Sim,Não,Não,Não,Não
13661,Não,Não,Não,Não,Não,Não
13718,Não,Sim,Não,Sim,Não,Não
14445,Não,Sim,Não,Sim,Não,Não
20647,Sim,Sim,Não,Não,Não,Não
...,...,...,...,...,...,...
4746878,-,-,-,-,-,Sim
4746885,Não,Sim,Não,Não,Não,Não
4746900,Não,Sim,Sim,Sim,Não,Não
4746967,-,-,-,-,-,-
4747259,Não,Não,Não,Não,Não,Não

In [121]:
base = mortes[['FicouInternado', 'ProfissionalSaude', 'PossuiDeficiencia']]
dim_profissional_saude = base.query('ProfissionalSaude == "Sim" ')
dim_profissional_saude.sample(5)

        FicouInternado ProfissionalSaude PossuiDeficiencia
4643255            Não               Sim               Não
3775137            Sim               Sim               Não
4102298            Sim               Sim               Não
2795757  Não Informado               Sim               Não
1485620            Não               Sim               Sim

In [122]:
# realizando a conexão com o banco de dados postgres localmente, via docker, e acessando o database projeto_bi
engine = create_engine('postgresql://root:root@localhost:5432/projeto_bi')

In [123]:
# df.to_sql('nome_da_tabela', con=engine, if_exists='replace', index=False)
fato_mortes.to_sql('fato_mortes', con=engine, if_exists='replace', index=False)
dim_datas.to_sql('dim_datas', con=engine, if_exists='replace', index=False)
dim_escolaridade.to_sql('dim_escolaridade', con=engine, if_exists='replace', index=False)
dim_comorbidades.to_sql('dim_comorbidades', con=engine, if_exists='replace', index=False)
dim_profissional_saude.to_sql('dim_profissional_saude', con=engine, if_exists='replace', index=False)

120